<style>
    .contenedor {
        /*margin-top: calc(1vh -50%);*/
        margin: auto;
        padding: 48px;
        width: 640px;
        height: 480px;
        background-color: white;
        border-width: 5px;
        border-color: black;
        border-style: double;
        border-radius: 5px;
        /*line-height: 200px;*/
        box-shadow: 5px 5px 5px 5px rgba(154, 154, 218, 0.461);
    }
</style>


<body>




    </div>
    <div class="main">
        <div class="contenedor">
            <div class="jumbotron">
                <div class="container">
                    <div class="display-4">
                        Ocurrió un error <%= status %> !
                    </div>
                    <p class="lead">
                        <%= message %>
                    </p>
                    <p class="lead">
                        Si este error persiste, habla con un administrador del sitio.
                    </p>
                </div>
                <a href="/">Volver al inicio</a>
            </div>
        </div>

</body>