<div class="jumbotron">
    <div class="container">
        <div class="display-4">TEXTO NOMBRE !</div>
        <p class="lead">
            ยก Te doy la bienvenida al aula virtual de la Escuela de Oficios !
        </p>
    </div>
    

</div>